body{
    background-color: rgb(38, 38, 53);
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.d{
    font-size: 20px;
    color: rgb(2, 2, 2);
}
